<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="css/style.css">
  <title></title>  
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
  <div class="container">

    <header class="header clearfix">
      <div class="logo">
<!--begin.rcode echo=FALSE, comment=''
load("./luokangxian.RData")
cat(author)
end.rcode-->    
      </div>


      
    </header>


    <div class="info">

        <div class="col_99">
          <h2>Publications</h2>

          <table class="table">
<!--begin.rcode echo=FALSE,message=FALSE,results='asis'
library(xtable)
table <- xtable(cbind(personal.info$at, 
                      paste(personal.info$month, personal.info$year)))
print(table, type = 'html', include.colnames=FALSE, only.contents=TRUE)
end.rcode-->       
          </table>
        </div>

        <div class="clearfix"></div>
        
      <div class="col_50">
          <h2>Publication Roles</h2>
<!--begin.rcode echo=FALSE
library(ggplot2)
pie + coord_polar(theta = "y")
end.rcode-->         
        </div>


        <div class="col_50">
          <h2>Publication Roles and Year</h2>
<!--begin.rcode echo=FALSE
hist_cut + geom_bar()
end.rcode-->    
        </div>
        <div class="clearfix"></div>
        
        <div class="col_100">
          <h2>Publication Relationships</h2>
<!--begin.rcode echo=FALSE, fig.width=13
p + geom_point(data=link, 
             aes(lon,lat,shape=factor(freq), color=factor(freq)), 
             size=5)
end.rcode--> 
        </div>
    
    </div>
    
    <footer class="footer clearfix">
      
    </footer>

  </div>
</body>
</html>